[submodule "infographics-default"]
	path = infographics-default
	url = https://github.com/Ao21/infographics-default.git
[submodule "infographics-angular"]
	path = infographics-angular
	url = https://github.com/Ao21/infographics-angular.git
[submodule "infographics-server"]
	path = infographics-server
	url = https://github.com/Ao21/infographics-server.git
[submodule "infographics-chart"]
	path = infographics-chart
	url = https://github.com/Ao21/infographics-chart.git
